<div id="fh5co-testimonial" style="background-image:url(images/img_bg_1.jpg);">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Happy Clients</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-testimony animate-box">
                    <blockquote>
                        <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                        <p>&ldquo;We made booking from Travela for 2 rooms for two nights at Balaut Resort Nainital, Uttarakhand. At last minute we had to postpone the travel dates. We called Travela call center service. They spoke to the Balaut Resort management and without any cancellation charges our booking was postponed. Good job TRAVELA.&rdquo;</p>
                    </blockquote>
                    <p class="author">Aditi Dugar </p>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="box-testimony animate-box">
                    <blockquote>
                        <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                        <p>&ldquo;I have been consulting travela tours and travels since 2015 as it has been providing best services as per tour. As tours planned by us are difficult to manage but the tour guide with us makes the all things easy and stress free so we can travel without any problem. Tge tour guide provided are intelligent and smart and care persons. It provides best food with quality ! And Veg Gets Veg And Non Veg Gets Non Veg! So People Should Experience One Trip With Travela Tours Other Trips They will book First Then Everyone!.&rdquo;</p>
                    </blockquote>
                    <p class="author">Nitika Gole </p>
                </div>
                
                
            </div>
            <div class="col-md-4">
                <div class="box-testimony animate-box">
                    <blockquote>
                        <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                        <p>&ldquo;My parents recently went for manali through travela tours. They were very happy with all the arrangements. Accommodation was good and food served was also very good. Tour manager was extremely cooperative and helpful and he took good care of everyone. They had very smooth trip without any issues. Tour operators helped in customizing the trip as per their requirements. Would definitely recommend travela tours for chardham yatra.&rdquo;</p>
                    </blockquote>
                    <p class="author">Aditi Deshmukh </p>
                </div>
                
            </div>
        </div>
    </div>
</div>